.container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
    margin-top: 45px;
    animation: fadeIn 2s;
}

h1 {
    font-size: 1.5rem;
}

body[data-theme='light'] .container {
    background-color: rgba(255, 255, 255, 0.8);
}

body[data-theme='dark'] .container {
    background-color: rgba(26, 26, 26, 0.8);
    color: #ddd;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.362);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
    max-width: 300px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

button {
  font-size: 1.1rem;
  margin-top: 15px;
  border: 2px solid rgb(0, 219, 166);
  background: transparent;
  color: rgb(0, 219, 166);
  border-radius: 10px;
  padding: 12px 16px;
  cursor: pointer;
  width: 100%;
  max-width: 400px;
  transition: background 0.3s ease, transform 0.1s ease;
}


button:hover {
  background: linear-gradient(90deg, rgb(0, 219, 166), rgb(20, 215, 228));
  color: #fff;
}

input {
  margin: 10px 0;
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  font-size: 1rem;
}

.input-box {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  margin-bottom: 10px;
}
